:root {
  --navy-blue-color: #2E2F42;
  --slate-color: #434455;
  --iris-color: #4D5AE5;
}

body{
  font-family: 'Roboto',
    sans-serif;
  font-size: 16px; 
  background-color: #fff;
  color: var(--slate-color);
  font-weight: 400;
  letter-spacing: 2%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--slate-color);
}

button {
  cursor: pointer;
}

h2 {
  font-weight: 500;
  font-size: 36px;
  color: var(--navy-blue-color);
  text-align: center;
}

h3{
  font-size: 20px;
  font-weight: 500;
  color: var(--navy-blue-color);
}

.header-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--navy-blue-color);
}

.list-link {
font-size: 16px;
font-weight: 500;
color: var(--navy-blue-color);
}

.list-link:active {
  color: var(--iris-color);
}

.address {
  font-style: normal;
}

.mail:active,
.mail:hover
{
  color: var(--iris-color);
}

.phone:active,
.phone:hover
{
  color: var(--iris-color);
}

.hero-image {
  background-color: var(--navy-blue-color);
  text-align: center;
}

.hero-title {
  color: #FFFFFF;
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
}

.hero-btn {
  background-color: var(--iris-color);
  color:  #fff;
  font-weight: 500;
  letter-spacing: 4%;
  line-height: 1.5;
}

.hero-btn:hover{
  background-color: var(--iris-color);
}

.features-text {
  line-height: 1.5;
}

.cards > li {
  background-color: #fff;
}

.team {
  background-color: #F4F4FD;
}

.footer {
  background-color: var(--navy-blue-color);
}

.footer-title{
  font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #F4F4FD;
}

.marking-word{
  color: var(--iris-color);
}

.footer > p {
  color: #F4F4FD;
}